/* CSS 시작, 우선 순위(A < .A < #A), !important */
/* CSS 주석 */ /**/
a { /* a 에 대해서 */
  color:red; /* 색 설정 */
  text-decoration: none; /* 밑줄 설정, underline */
}
./* class */ { /* class(속성은 띄어쓰기로 여러 가지 입력), class="A B" */
}
#/* id */ { /* 페이지 유일형 */
}
body h1 { /* 페이지 내의 h1 태그에 대한 설정 */
}
h1, h2 {
  font-size:45px; /* 폰트 크기 */
  text-align:center; /* 글자 정렬 */
  border:5px red solid
  /*
  border-bottom:1px gray solid /=* 하단 테두리 *=/
  border-right:1px gray solid /=* 우측 테두리 *=/
  border-width:5px; /=* 테두리 두께 *=/
  border-color:red; /=* 테두리 색 *=/
  border-style:solid; /=* 테두리 스타일 *=/
  */
  padding:20px; /* 테두리 안쪽 여백 */
  padding-left: /* 테두리 안쪽 좌측 여백 */
  margin:0; /* 테두리 바깥 여백 */
  width:100px; /* 테두리 폭 */
  display:inline; /* 형식(block, inline, none) */
  grid-template-columns: 150px 1fr; /* fr(나눔값) */
}
box {
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: ;
  -webkit-line-clamp: ; /* 콘텐츠 줄 제한, https://developer.mozilla.org/ko/docs/Web/CSS/-webkit-line-clamp */
  overflow: hidden;
}
.nowrap {
  overflow: hidden; /* https://developer.mozilla.org/ko/docs/Web/CSS/overflow */
  text-overflow: ellipsis;
  white-space: nowrap; /* https://developer.mozilla.org/ko/docs/Web/CSS/white-space */
}
table {
  table-layout: fixed; /* 테이블 레이아웃, https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout */
}
@media(max-width:800px) { /* 미디어 쿼리, 화면의 크기가 이것보다 작으면 설정 */
  div{
    overflow: hidden; /* 컨텐츠가 범위 밖으로 나갈 때 숨김 처리 */
  }
}
/* 고정형 레이아웃 */
span#/*id*/ {position: fixed; bottom: 10px; right: 10px;}
span#/*id*/ p {margin: 10px;}

/* 부동 요소 */
clear /* https://developer.mozilla.org/ko/docs/Web/CSS/clear 참조 */

/* 커서 모양 */
cursor /* https://developer.mozilla.org/ko/docs/Web/CSS/cursor 참조 */

/* 스크롤 관련 */
html { overflow-y:scroll; } /* 세로스크롤을 항상 표시 */
::-webkit-scrollbar { width: 10px; height: 10px; } /* 스크롤 바 */
::-webkit-scrollbar-track { background: #fff; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #858585; border-radius:10px } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #8f8f8f; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #999999; } /* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상단 하단 버튼 */


/* 참조 기능 https://youtu.be/lkTpOHv1Ros

@supports 기능 지원 여부
https://developer.mozilla.org/ko/docs/Web/CSS/@supports

scroll-snap-type 스크롤 관련
https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-snap-type

:is 다수 선택 관련
https://developer.mozilla.org/en-US/docs/Web/CSS/:is

gap 내부 간격 관련
https://developer.mozilla.org/en-US/docs/Web/CSS/gap

aspect-ratio 종횡비 관련
https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio

position: sticky 스크롤에 따라 위치 고정 관련
https://developer.mozilla.org/ko/docs/Web/CSS/position
*/
