/* CSS 시작, 우선 순위(A < .A < #A), !important */
/* CSS 주석 */ /**/
a { /* a 에 대해서 */
  color:red; /* 색 설정 */
  text-decoration: none; /* 밑줄 설정, underline */
}
./*class*/ { /* class(속성은 띄어쓰기로 여러 가지 입력), class="A B" */
}
#/*id*/ { /* 페이지 유일형 */
}
body h1 { /* 페이지 내의 h1 태그에 대한 설정 */
}
h1, h2 {
  font-size:45px; /* 폰트 크기 */
  text-align:center; /* 글자 정렬 */
  border:5px red solid
  /*
  border-bottom:1px gray solid /=* 하단 테두리 *=/
  border-right:1px gray solid /=* 우측 테두리 *=/
  border-width:5px; /=* 테두리 두께 *=/
  border-color:red; /=* 테두리 색 *=/
  border-style:solid; /=* 테두리 스타일 *=/
  */
  padding:20px; /* 테두리 안쪽 여백 */
  padding-left: /* 테두리 안쪽 좌측 여백 */
  margin:0; /* 테두리 바깥 여백 */
  width:100px; /* 테두리 폭 */
  display:inline; /* 형식(block, inline, none) */
  grid-template-columns: 150px 1fr; /* fr(나눔값) */
}
box {
  display: -webkit-box;
  display: -webkit-inline-box;
  -webkit-box-orient: ;
  -webkit-line-clamp: ; /* 콘텐츠 줄 제한, https://developer.mozilla.org/ko/docs/Web/CSS/-webkit-line-clamp */
  overflow: hidden;
}
.nowrap {
  overflow: hidden; /* https://developer.mozilla.org/ko/docs/Web/CSS/overflow */
  text-overflow: ellipsis;
  white-space: nowrap; /* https://developer.mozilla.org/ko/docs/Web/CSS/white-space */
}
table {
  table-layout: fixed; /* 테이블 레이아웃, https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout */
}
@media(max-width:800px) { /* 미디어 쿼리, 화면의 크기가 이것보다 작으면 설정 */
  div{
    overflow: hidden; /* 컨텐츠가 범위 밖으로 나갈 때 숨김 처리 */
  }
}
/* 고정형 레이아웃 */
span#/*id*/ {position: fixed; bottom: 10px; right: 10px;}
span#/*id*/ p {margin: 10px;}

/* 부동 요소 */
clear /* https://developer.mozilla.org/ko/docs/Web/CSS/clear 참조 */
